@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 4em 1em;
  color: #566b78;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

header {
  background-color: #9adbc8;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;
}

header h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 300;
}

.logo{
  width: 100px;
  height: 100px;
  background-image: url("https://ibb.co/XJH2Mys");
  background-size: cover;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h2{
  color: #333;
}

pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
  padding: 1em;
  border-left: 2px solid #69c;
}

